__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

.env
*.env

*.log
*.pot

# Ignorar pastas e ambientes locais
.env/
.venv/
venv/
build/
dist/
*.egg-info/

# Ignorar arquivos de IDEs
.vscode/
.idea/

# Docker
Dockerfile
docker-compose.yml
